# Android Studio
*.iml
.gradle
/local.properties
/.idea/
/build/
/captures/
/.externalNativeBuild
.cxx/
.DS_Store

# Otros
*.log
*.hprof
*.orig
*.pyc
*.pyo
*.swp

# Mac
__MACOSX

# Windows thumbnail files
Thumbs.db

# Crashlytics
crashlytics-build.properties
